.bigContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  //   left: 5%;
  //   padding: 2rem;
  position: relative;
  //   top: 0;
  //   position: relative;
  z-index: 999;

  .userNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    h1 {
      a {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        letter-spacing: 3px;
        font-size: 25px;
        text-decoration: none;
        color: black;
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
  
        .Checkout {
          :hover {
            color: black;
          }
        }


      li {
        margin: 0;
        padding: 0;
        line-height: 100px;
        padding: 0 20px;

        :hover {
          color: #74a84a;
        }

        a {
          text-decoration: none;
          color: #000000;
          font-family: Roboto, sans-serif;
          font-weight: inherit;
          letter-spacing: 2px;
        }
      }

      .bag,
      .wish {
        // margin: 10px;
        padding: 0;
        .up {
          width: 4px;
          height: 4px;

          span {
            font-size: 10px;
            background-color: rgb(0, 0, 0);
            color: white;
            padding: 4px 7px;
            border-radius: 50%;
            max-width: fit-content;
            font-family: Roboto, sans-serif;
          }
        }
      }
    }
  }
}
